{% extends "base.html" %}

{% block content %}

    <div>
        <h2>Welcome to Rock Paper Scissors!
            <br>
            Select who you want to play today 
        </h2>
        <div>
            <ul id="players">
                <li><a href="/one-player">One Player</a></li>
                <li><a href="/two-player">Two Players</a></li>
            </ul>
        </div>

        <div>
            <form action="/players" method="POST" id="enter_name">
            <h2>Who is ready to play ?</h2>
            <label for="name1">Player 1: </label>
            <input type="text" name="name1" id="name1"><br><br>
            <label for="name2">Player 2: </label>
            <input type="text" name="name2" id="name2">
            <br>
            <br>
            <input type="submit" value="Add Players" class="submit">
            </form>
        </div>
    
    </div>
    



{% endblock %}